.seven {
  width: 100vw;
  margin-top: 200px;
}

.teamImage {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.teamImage > img {
  width: 960px;
  height: 480px;
  border-radius: 16px;
  object-fit: cover;
}

.missionTitle {
  margin-top: 25px;
  width: 100%;
}

.welfare {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
}

.listTag {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  width: 298px;
  gap: 10px;
}

.listHead {
  font-size: 25px;
}
