.container {
  margin: 0 auto;
  width: 1000px;
  height: 1500px;
  text-align: center;
}

.p1 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #48dbfb;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #192a56;
}

.p2 {
  color: gray;
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.small_con {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  display: flex;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box > div {
  flex: 1;
}

.app_sto {
  background-color: white;
  border: 1px solid gray;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin: 0 auto;
}

.google_sto {
  background-color: #192a56;
  border: 1px solid black;
  width: 150px;
  padding: 12px;
  border-radius: 8px;
  margin: 0 auto;
}

.paper1 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #192a56;
  font-size: 13px;
}

.paper2 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #192a56;
  font-size: 18px;
}

.paper3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 13px;
}

.paper4 {
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 18px;
}
