.reels {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 20px;
}

.imagebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.profileImage {
  width: 100px;
  height: 100px;
  border: 2px solid #c1256a;
  border-radius: 50%;
  padding: 5px;
}

.profileImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
