@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 50px;
}

.container > div {
  display: flex;
  gap: 50px;
}

.service {
  display: flex;
  flex: 0.2 auto; /* box간 정렬이 안되서 넣어봤는데 그래도 안됨 */
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.icon {
  font-size: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Pretendard-Regular';
}
