.container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: auto;
}

.box {
  width: 500px;
  min-width: 500px;
  height: 100%;
  scroll-snap-align: start;
}

.r {
  background-color: red;
}

.g {
  background-color: green;
}

.b {
  background-color: blue;
}

.o {
  background-color: orange;
}
