@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100vw;
  padding: 70px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-family: "Pretendard-Regular";
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: fit-content;
}

.title {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 30px;
  gap: 8px;
}

.orther {
  text-align: right;
}

.list {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

.imageBox {
  width: 200px;
  height: 200px;
  position: relative;
}

.imageBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.icon > i:active {
  color: red;
}

.list_name {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 3px;
  font-size: 12px;
}

.size {
  font-size: 15px;
  margin-bottom: 5px;
}

.red {
  color: red;
  padding-right: 5px;
}
